<router-outlet></router-outlet>
<div class="container">
  <div class= "row mt-5 " >
    <div class="col-12">
        <nav aria-label="breadcrumb" class="mt-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li class="breadcrumb-item">
                  <a [routerLink]="['/services']">Services</a>
               </li>
              <li class="breadcrumb-item active" aria-current="page">Business Analysis</li>
            </ol>
          </nav>
  <h3 class="display-4 text-center m-5 ">Business Analysis</h3>
  <div>
</div>
</div>
</div>
<div class="row">
<div class="col-8">
 <p> Business Analysis helps IT firm recognize issues (problems,
     opportunities, and needs), define panacea, and implement changes
     to solve those business issues. Pentax Technologies is a Effective Business
     analyst service which ensures that a business'
     inadequate resources are directed into projects which
     give real business advantage, and that those benefits can
      be clearly connected in terms of requirements which can be
    traced through the project lifecycle to measure its success.
       </p>
</div>

<div class="col-4">
<img src="assets/img/business.png" class="img-fluid">
</div>
<section>
    A Business Analyst is somebody who dissects (study) the existing or perfect conglomeration and configuration of frameworks, incorporating organizations, sections, and conglomerations. Business Analysts likewise survey the plans of action and their joining with engineering.

    Incorporate shows that fit with your investigation workflow for site assessment, market entrance, and client prospecting. Pentax Technologies your examination through an intelligent guide that permits you to modify parameters to run different suppose it is possible that situations that can help you settle on better illuminated choices speedier.

    We undertake deep Business analysis services are:
    <hr>
    <li>
    Understand the impact of changes to an organisation.
  </li>
  <li>
    Model new business processes and designs.
  </li>
    <li>
    Requirements gathering, elicitation & quality review
  </li>
  <li>
    Data Quality Assessment
  </li>
  <li>
    Identify business constraints on system behaviour and user interaction for system components.
  </li>
<hr>
</section>
<div>
<img src= "assets/img/business-banner.jpg" class="center img-responsive"  width="600px" height="460px"  >
</div>
<p>This business value driven approach ensures that project budgets are directed to changes that have the greatest encouraging impact to organisations.</p>
</div>
<hr>
</div>

