

<div class="container">
  <div class= "row mt-5 " >
    <div class="col-12">

        <nav aria-label="breadcrumb" class="mt-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li class="breadcrumb-item">
                  <a [routerLink]="['/services']">Services</a>
               </li>
              <li class="breadcrumb-item active" aria-current="page">Programming</li>
            </ol>
          </nav>
  <h3 class="display-4 text-center m-5 ">Programming</h3>
  <div >
      <div class="text-center"><img  class="rounded-0 img-fluid" src=" assets/img/programming.jpg"  alt="network"> </div>
    <p class="network" >
        Take your business to the next level with powerful custom made software applications, website designs and mobile applications (Android and iOS)

    </p>
    <div class="text-center m-4">
        <button class="  btn btn-outline-warning  btn-lg   ">Contact Us</button>
    </div>

  </div>
  </div>

  <div class="col-12 mt-4 mb-3">

  <section>
    <div class="row">
      <div class="col-6 mt-4 mb-3">
          <h2 class ="display 3"> Website Development</h2>
          <p> Pentax Technologies is a successful Website Designing and Development Company. We provide proactive and result oriented website design, development services for companies and organisations of all sizes in all sectors. </p>


      </div>
      <div class="col-5">
          <img src="assets/img/website.jpg"   class="img-fluid" alt="aws ">

      </div>


      <div class="col-6 mt-4 mb-3">
          <h2 class ="display 3"> Mobile App Development</h2>
          <p>We are a web & app development company that turns your ideas into a new driving force of your business by the creration of Android and iOS applications</p>

      </div>
      <div class="col-5">
          <img src="assets/img/app.png"  class="img-fluid" alt="aws ">

      </div>

      <div class="col-6 mt-4 mb-3">
          <h2 class ="display 3"> Software Development</h2>
          <p>Pentax Tehnologies is a global network of technology consulting and software services firms that creates end-to-end solutions, from concept and strategy, to design, implementation and support, helping global clients in the financial services, healthcare, hospitality, media and IoT sectors achieve important business outcomes.</p>

      </div>
      <div class="col-5">
          <img src="assets/img/Software.jpg"  class="img-fluid" alt="aws ">

      </div>
    </div>
  </section>


  </div>

  </div>


</div>
