


  <div class="container">
      <div class="row mt-5">
          <div class="col-12 ">
            <nav aria-label="breadcrumb" class="mt-5">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/home']">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
              </ol>
            </nav>
<h1 class=" display-3  text-center m-5">About Us </h1>
<p>
    Pentax Technologies is not just a single service supplier, we are here to provide solutions to your IT problems rather than simply service, equipment or mobile applications,software. We source and supply all types of IT equipment and software, implement complete office IT and network solutions, provide managed IT support services, build computers and servers specifically to your needs.This versatility enables us to understand the needs of your business and to provide a solution to your problem no matter what it is.
</p>

</div>
<hr>
<div class=" col-4 bg-info my-2"> <img src="assets/img/app1.jpg" class="img-fluid"> </div>
<div class=" col-8 bg-info my-2">  <p class= "p-3">


    Pentax Technologies  have significant expertise in Dot Net, iOS, Android and integration solutions. We typically work with our clients for many years and often become a seamless part of our clients business while still taking full and complete responsibility for the solutions.

</p></div>

<hr>
<div class=" col-8 bg-light my-2"> <p class= "p-3">Pentax Technologies is also a web technology company specializing in website design, web development, SEO (search engine optimization), brand identity and graphic design.  </p> </div>
<div class=" col-4 bg-light my-2"> <img src="assets/img/web1.png" class="img-fluid"> </div>
<hr>
</div>
</div>
<div class=" col-12 bg-info  text-center"> <p class= "p-3"> Our mission is to continuously review and list out the best technology companies helping you find and choose your ideal leading tech /digital partner easily.

  </p>

</div>


