
<router-outlet></router-outlet>
<div class="container">
  <div class= "row mt-5 " >
        <div class="col-12">
            <nav aria-label="breadcrumb" class="mt-5">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a [routerLink]="['/home']">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                      <a [routerLink]="['/services']">Services</a>
                   </li>
                  <li class="breadcrumb-item active" aria-current="page">Network Security</li>
                </ol>
              </nav>
  <h3 class="display-4 text-center m-5 ">Networking</h3>
  <div  class="text-center">
    <img src="assets/img/networks.jpg" alt="network" class="img-fluid" >
    <p class="network" >
        A hybrid cloud gives your business the flexibility of a public cloud and the protection of a private environment for your most sensitive data. It’s a bridge from today’s on-premise technologies to tomorrow’s cloud-enabled possibilities.

    </p>
    <div class="text-center">
    <button class=" btn btn-outline-dark  btn-lg   ">Contact Us</button>
  </div>
  </div>
  </div>
  <hr>
  <div class="col-6 mt-4 mb-4">
      <h2 class ="display 3"> Microsoft & AWS Cloud</h2>
      <p>With a fully managed hybrid cloud, your business gains a unified way to backup, archive and even restore data — encompassing applications, databases, servers, remote offices and mobile devices. Our solutions allow you to shape the cloud to fit your business.</p>

  </div>
  <div class="col-5">
      <img class="img-fluid" src="assets/img/aws.png">

  </div>
  <section>
    <div>
      <h2 class="block text-center" >Service & Support</h2>
      <p class=""> Pentax Technologies offer world class IT service and support</p>

    </div>
  </section>
  <div class="col-xl-12">
    <div class="row mb-4">
    <div class="col-6 ">
  <h3> IT Support</h3>
  <p>
      Do You Need Tech Support?
      We can help.  Pentax Technologies has technicians standing by 24/7 to help when you need tech support.
      Technicians available to fix your problems, we never close.

  </p>
  <img class="img-fluid" src="assets/img/support.png">
  </div>

  <div class="col-6">
      <h3> IT Service</h3>
      <p>
          Our Best-in-class tools let us help mitigate critical issues such as security vulnerabilities, compliance issues, and downtime, so you can focus on building your business.

      </p>

    <img class="img-fluid" src="assets/img/service.jpg">
    </div>


    </div>

  </div>

  </div>

  </div>


