
<router-outlet></router-outlet>
<div class="container">
  <div class= "row mt-5 " >
    <div class="col-12">
        <nav aria-label="breadcrumb" class="mt-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li class="breadcrumb-item">
                  <a [routerLink]="['/services']">Services</a>
               </li>
              <li class="breadcrumb-item active" aria-current="page">Graphic Design</li>
            </ol>
          </nav>
  <h3 class="display-4 text-center m-5 ">Design</h3>
  <div>
    <p class="network" >
        Pentax Technologies create visual concepts, using computer software or by hand, to communicate ideas that inspire, inform, and captivate consumers.

    </p>

    <div class="text-center">  <img src="assets/img/Graphic.jpg" class="img-fluid">
    <button class=" btn btn-outline-success m-4  btn-lg   ">Contact Us</button>
  </div>
  </div>
  </div>
