

  <div class="container">
    <div class="carousel slide carousel-fade" data-ride="carousel">
      <div class=" carousel-inner">
        <div class="carousel-item active"> <div class=" carousel-caption"> <h2>Cloud Computing</h2> <p> No Down time with our cloud storage service </p></div> <img class="d-block w-100" width="400"  src="assets/img/cloud.jpg"/> </div>
        <div class="carousel-item "> <div class="carousel-caption"><h2>IT Support & Service</h2> <p>We fix the IT problems 100% of the time</p></div> <img class="d-block w-100" width="400" src="assets/img/supportservice.jpg"/> </div>
        <div class="carousel-item ">  <div class="carousel-caption"> <h2>Software  Development </h2> </div> <img class="d-block w-100" width="400" src="assets/img/keyboard.jpg"/> </div>
      </div>
    </div>
    <div class="bg-primary myrow"></div>
    </div>



